html{
  height: 100lvh;
}
body{
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom); 
}
.grid {
    flex-grow: 1;
}
.gridmembercss{
    grid-area: 1/1/1/1;
}
.noborder{
  border: none;
}
::placeholder{
    letter-spacing: normal;
    font-size: 0.5rem;
}

@keyframes grow {
    0%,100% {
      height: initial;
    }
    50% {
      height: 100%;
    }
  }

@media (width > 600px) {  
  :root{
    font-size: 27px;
  }
}

@media (height < 600px) {  
  :root{
    font-size: 10px;
  }
}

.drop{
animation-name: drop ; /* bounce 1s infinite */
animation-duration: 2s ;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

.ping{
animation-name: ping ; /* bounce 1s infinite */
animation-duration: 2s ;
animation-iteration-count: 1;
animation-timing-function: ease-in-out;
}

@keyframes drop {
 
  0%{
    transform: translateY(-150%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50%{
    transform: translateY(100%);;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  75%{
    transform: translateY(-50%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    font-style: italic;
    text-decoration:overline;
    color:chocolate;

  }
}


@keyframes ping {
  50%, 75% {
    scale: 2;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* html { background: red !important; height: 100dvh !important; }
body { background: blue !important; height: 100dvh !important; margin: 0 !important; }
.grid { background: green !important; height: 100% !important; } */